<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <session-config>
        <session-timeout>
           30
        </session-timeout>
    </session-config>
    <listener>
        <listener-class>oracle.wlevs.strex.core.impl.SXApplicationLifecycleListener</listener-class>
    </listener>
    <!-- Move OEP server connection parameters here to global level because they are used not only by Jersy servlet -->
    <context-param>
        <param-name>com.oracle.strex.cep.host</param-name>
        <param-value></param-value>
    </context-param>
    <context-param>
        <param-name>com.oracle.strex.cep.port</param-name>
        <param-value></param-value>
    </context-param>
    <context-param>
        <param-name>com.oracle.strex.cep.username</param-name>
        <param-value></param-value>
    </context-param>
    <context-param>
        <param-name>com.oracle.strex.cep.password</param-name>
        <param-value></param-value>
    </context-param>
    <servlet>
        <servlet-name>jersey</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>oracle.wlevs.strex</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>com.oracle.strex.cep.host</param-name>
            <param-value></param-value>
        </init-param>
        <init-param>
            <param-name>com.oracle.strex.cep.port</param-name>
            <param-value></param-value>
        </init-param>
        <init-param>
            <param-name>com.oracle.strex.cep.username</param-name>
            <param-value></param-value>
        </init-param>
        <init-param>
            <param-name>com.oracle.strex.cep.password</param-name>
            <param-value></param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>jersey</servlet-name>
        <url-pattern>/webresources/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>LoginServlet</display-name>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>oracle.wlevs.strex.model.security.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>LogoutServlet</display-name>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>oracle.wlevs.strex.model.security.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <description>Catches all incoming requests in order to check if a user authentication requied</description>
        <filter-class>oracle.wlevs.strex.model.security.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
